* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  color: #FFFFFF;
  padding: 10px 20px;
  background: #4DD599;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;

  
  &:hover {
    background-color: darken(#4DD599, 10%);
  }

  &:active {
    background-color: darken(#4DD599, 15%);
  }

  &--grey {
    background-color: #F4F6F8;
    color: #9C9C9C;

    &:hover {
      background-color: darken(#F4F6F8, 4%);
    }

    &:active {
      background-color: darken(#F4F6F8, 10%);
    }
  }
  &:disabled {
    background-color: #5c5757;
    &:hover {
      background-color: #5c5757;
    }
  }
}

.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100vw - 50px);
  height: calc(100vh - 100px);
  font-size: 14px;
  transform: translate(-50%, -50%);
  background-color: rgb(253, 253, 253);
  display: flex;
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;

  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
    overflow-x: hidden;
    max-width: 1000px;
  }
  ::-webkit-scrollbar {
    width: 3px; 
    background-color: #d1cdcd;
}
::-webkit-scrollbar-thumb {
    background-color: #64C4ED;
    border-radius: 30px;
}
  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }

}

.field {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;

  &:focus {
    border-color: #beb6b6
  }
}